NEXT_PUBLIC_BASE_URL=
NEXTAUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_SECRET=

WEGLOT_API_KEY=
NEXT_PUBLIC_KEY_GET_GEOLOCATION=
NEXT_PUBLIC_GOOGLE_API_KEY=
NEXT_PUBLIC_TINY_KEY=

JWT_ACCESS_SECRET=

NEXT_PUBLIC_CLIENT_URL=

NEXT_PUBLIC_AVIATION_EDGE_API_KEY=
NEXT_PUBLIC_DATALASTIC_API_KEY=
NEXT_PUBLIC_GEONAMES_API_KEY=

NEXT_PUBLIC_RAPID_HS_CODES_KEY=


