@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;

}

@layer utilities {
  .text-balance {

  }
}

.text-story{
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow : hidden;
  max-width: 294px;
}
pre{
  font-family: Poppins, sans-serif!important;
}
.hero-pattern{
  background-image:  url('../assets/hero-pattern.svg');
  background-size: 100% 100%;
  height: 100vh;
}
.decorative-link {
  position: relative;
}

.decorative-link::before,
.decorative-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 50px;
  height: 2px;
  background: linear-gradient(to right, rgba(249, 249, 249, 0.5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  transition: width 0.3s;
}

.decorative-link::before {
  left: 0;
}

.decorative-link::after {
  right: 0;
}

.decorative-link:hover::before,
.decorative-link:hover::after {
  width: 80%;
}
.modal {
    border-radius: 40px; /* Adjust the value as needed */
}