@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* --muted: 210 40% 96.1%; */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-radio input:checked + label {
  background-color: white;
  border-radius: 50%;
}

.custom-radio input:checked + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

.custom-radio input:checked + label {
  background-color: white;
  border-radius: 50%;
}
.custom-radio input:checked + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
  border-radius: 50%;
}

a:hover {
  text-decoration: underline;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
  }

  .text-story {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 294px;
  }

  pre {
    font-family: Poppins, sans-serif !important;
  }

  .career {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .select_box {
    width: 526px;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    padding-left: 10px;
  }

  .select_box:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ff6720;
    position: absolute;
    top: 50%;
    right: 34px;
    content: "";
    z-index: 98;
  }

  .select_box select {
    outline: none;
    width: 526px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
  }

  .select_box select::-ms-expand {
    display: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
  }

  .allDecorationUnderLink {
    background: rgb(255, 103, 32);
    background: radial-gradient(
      circle,
      rgba(255, 103, 32, 1) 0%,
      rgba(241, 241, 241, 1) 100%
    );
  }
  .lucide {
    display: none !important;
  }
  .decorative-link {
    position: relative;
  }

  .decorative-link::before,
  .decorative-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: rgb(241, 241, 241);
    background: radial-gradient(
      circle,
      rgba(241, 241, 241, 1) 0%,
      rgba(255, 103, 32, 1) 100%
    );
    transition: width 0.3s;
  }

  .decorative-link::before {
    left: 0;
  }
  .decorative-link::after {
    right: 0;
  }

  .decorative-link:hover::before,
  .decorative-link:hover::after {
    width: 50%;
  }

  .link-with-line::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 3px;
    bottom: 3px;
    width: 1px;
    background-color: white;
  }
  @media (max-width: 768px) {
    .link-with-line::after {
      right: -16px;
    }
  }

  .link-with-line:not(:last-child)::after {
    display: block;
  }
}

@media (max-width: 640px) {
  .decorative-link:hover::before,
  .decorative-link:hover::after {
    width: 100%;
  }
}

/* .lucide{
  display: none !important;
} */
.custom-radio input:checked + label {
  background-color: white;
  border-radius: 50%;
}
.custom-radio input:checked + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
  border-radius: 50%;
}

.custom-radio.catalogue input:checked + label {
  background-color: #ff6720;
  /* filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%); */
}
.custom-radio.catalogue input + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
}
.custom-radio.catalogue input:checked + label img {
  filter: none;
}

a:hover {
  text-decoration: underline;
}

.embla {
  position: relative;
}
.embla__viewport {
  overflow: hidden;
}
.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
.embla__viewport.is-dragging {
  cursor: grabbing;
}
.embla__container {
  transform: none !important; /* override Embla */
  display: flex;
  height: 100%;
  position: absolute;
  z-index: 9;
  width: 100%;
}
.embla__slide {
  position: absolute;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 !important; /* override Embla */
  right: 0 !important; /* override Embla */
  opacity: 0;
  transition: opacity 0.5s;
  counter-increment: embla;
  border-radius: 0.5rem;
  font-size: 5rem;
}
.embla--is-ready .embla__slide {
  position: absolute;
}
.embla__slide.is-selected {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.9s;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.grecaptcha-badge {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-opacity {
  animation: fadeIn 0.1s ease-in-out;
}
