@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* --muted: 210 40% 96.1%; */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-radio input:checked + label {
  background-color: white;
  border-radius: 50%;
}

.custom-radio input:checked + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
  border-radius: 50%;
}

a:hover {
  text-decoration: underline;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {

}

.text-story {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 294px;
}

pre {
  font-family: Poppins, sans-serif!important;
}

.career {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.select_box {
  width: 526px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  padding-left: 10px;
}

.select_box:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FF6720;
  position: absolute;
  top: 50%;
  right: 34px;
  content: "";
  z-index: 98;
}

.select_box select {
  outline: none;
  width: 526px;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
}

.select_box select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
}

.allDecorationUnderLink {
  background: rgb(255, 103, 32);
  background: radial-gradient(circle, rgba(255, 103, 32, 1) 0%, rgba(241, 241, 241, 1) 100%);
}
.lucide{
  display: none !important;
}
.decorative-link {
  position: relative;
}

.decorative-link::before,
.decorative-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
background: rgb(241,241,241);
background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(255,103,32,1) 100%);
  transition: width 0.3s;
}

.decorative-link::before {
  left: 0;
}
.decorative-link::after {
  right: 0;
}

.decorative-link:hover::before,
.decorative-link:hover::after {
  width: 50%;
}
}
/* .lucide{
  display: none !important;
} */
.custom-radio input:checked + label {
  background-color: white;
  border-radius: 50%;
}
.custom-radio input:checked + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
  border-radius: 50%;
}

a:hover {
  text-decoration: underline;
}







/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
/* }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.custom-radio input:checked + label {
  background-color: white;
  border-radius: 50%;
}
.custom-radio input:checked + label img {
  filter: invert(46%) sepia(98%) saturate(1895%) hue-rotate(345deg)
    brightness(100%) contrast(102%);
  border-radius: 50%;
}

a:hover {
  text-decoration: underline;
} */ 
